@{
    ViewData["Title"] = "Chat";
}

<div class="text-center">
    <div class="main-container">
        <div class="second-container">
            <a class="name-input-for-giphy">Text</a>
            <input class="input-for-text input-for-giphy d-block" />
            <button type="button" class="btn btn-outline-primary btn-enter mt-5 p-2 app-chat">Enter</button>
        </div>
    </div>
    <div class="main-container">
        <div class="main-table table"></div>
    </div>
</div>
