@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="main-container">
        <div class="second-container">
            <a class="name-input-for-giphy">Search for giphy</a>
            <input class="input-for-giphy" />
            <button class="btn btn-primary btn-search">Search</button>
        </div>
    </div>
    <div class="main-container">
        <div class="main-table table"></div>
    </div>
</div>
