@{
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <div class="main-container">
        <div class="second-container">
            <a class="name-input-for-giphy">Here you can see all search history!</a>
            <button class="btn btn-primary btn-show">Show History</button>
        </div>
    </div>
    <div class="main-container">
        <table id="SearchHistoryTable" class="main-table table main-table-history"></table>
    </div>
</div>